{% extends 'base.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block bodyClass %}flex flex-col min-h-screen {% endblock %}

{% block body %}
                    <div class="max-w-sm mx-auto prose">
                        <h1 class="text-5xl">{{ recipe.title }}</h1>

                        <p>
                            {{ recipe.content | nl2br }}
                        </p>

                        {{ form(form) }}

                    </div>


{% endblock %}
