{% extends 'admin/admin.html.twig' %}

{% block title %}Foooorm Awesome!{% endblock %}
{% block bodyClass %}{% endblock %}

{% block body %}

    <div class="max-w-sm mx-auto prose">
        <h1 class="text-5xl">{{ category.title }}</h1>

        <p>
            {{ category.content | nl2br }}
        </p>

        {{ form(form) }}

    </div>
{% endblock body %}