{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ category.name %}

{% block bodyClass %}flex flex-col min-h-screen {% endblock %}

{% block body %}
    <div class="max-w-sm mx-auto prose">
        <h1 class="text-5xl">{{ category.name }}</h1>

        <p>
            {{ category.slug | nl2br }}
        </p>

        {{ form(form) }}

    </div>


{% endblock %}
